In [2]:
# instalando a biblioteca pandas
!pip install pandas

Requirement already satisfied: pandas in c:\users\muril\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\muril\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\muril\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\muril\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\muril\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\muril\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
# Importando a Biblioteca Pandas
import pandas as pd

In [4]:
# Criando um dicionario
Dicionario = {
    'A':[1,2,3],
    'B':[-3,-2,-1],
    'C':[0,10,20]
}
Label = ['1ª Linha', '2ª Linha', '3ª Linha']
Dataframe_01 = pd.DataFrame(Dicionario,index=Label)
print(Dataframe_01)

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [5]:
# Exibindo as colunas A e B
Dataframe_01[['A', 'B']]

          A  B
1ª Linha  1 -3
2ª Linha  2 -2
3ª Linha  3 -1

In [6]:
# Criando uma coluna nova no Dataframe
Dataframe_01['Nova Coluna'] = Dataframe_01['A'] *Dataframe_01['B']

In [7]:
Dataframe_01 # Exibe o dataframe

          A  B   C  Nova Coluna
1ª Linha  1 -3   0           -3
2ª Linha  2 -2  10           -4
3ª Linha  3 -1  20           -3

In [8]:
# Exibindo valores na saida da celula do notebook
a = 6
print(a)
Dataframe_01

6

          A  B   C  Nova Coluna
1ª Linha  1 -3   0           -3
2ª Linha  2 -2  10           -4
3ª Linha  3 -1  20           -3

In [9]:
# Excluindo uma coluna do dataframe
# Drop exclui uma linha ou coluna do dataframe
Dataframe_01.drop('Nova Coluna',axis =1) # Exclui a nova coluna do Dataframe 1

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [10]:
# Excluindo uma coluna definitivamente do Dataframe
Dataframe_01.drop('Nova Coluna',axis =1,inplace=True)

In [11]:
# Localizando uma linha do Dataframe utilizando o comando Loc
Dataframe_01.loc['1ª Linha']

A    1
B   -3
C    0
Name: 1ª Linha, dtype: int64

In [12]:
Dataframe_01.loc['2ª Linha']

A     2
B    -2
C    10
Name: 2ª Linha, dtype: int64

In [13]:
Dataframe_01.loc['3ª Linha']

A     3
B    -1
C    20
Name: 3ª Linha, dtype: int64

In [14]:
# Localizando Diversas linhas e colunas
Dataframe_01.loc[['1ª Linha', '2ª Linha'],['A', 'C']] # Nome da linha e nome da coluna

          A   C
1ª Linha  1   0
2ª Linha  2  10

In [15]:
# Localizando a linha e a coluna ppelo indice
Dataframe_01.iloc[2:3,1:] # Linha, Coluna

          B   C
3ª Linha -1  20

In [19]:
Dataframe_01.iloc[2:3,1:] # Linha, Coluna

          B   C
3ª Linha -1  20

In [ ]:
# Verificando as condiçoes no Dataframe
print(Dataframe_01)
Dataframe_01 >0

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

             A      B      C
1ª Linha  True  False  False
2ª Linha  True  False   True
3ª Linha  True  False   True

In [ ]:
# Criando filtro no Dataframe
Filtro = Dataframe_01['C'] >0 # Armazena em filtro a resposta da verificação
Dataframe_02 = Dataframe_01[Filtro] # Cria um novo Dataframe
Dataframe_02['A']

2ª Linha    2
3ª Linha    3
Name: A, dtype: int64

In [23]:
Filtro

1ª Linha    False
2ª Linha     True
3ª Linha     True
Name: C, dtype: bool

In [26]:
# Cria um filtro utilizando a condição &
Dataframe_01[(Dataframe_01['B']>5) | (Dataframe_01['C']>2)]

          A  B   C
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [27]:
Dataframe_01

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [28]:
# Resetando o index do Dataframe
Dataframe_01.reset_index()

      index  A  B   C
0  1ª Linha  1 -3   0
1  2ª Linha  2 -2  10
2  3ª Linha  3 -1  20

In [29]:
Dataframe_01

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [30]:
Dataframe_01.reset_index(inplace=True)

In [31]:
Dataframe_01

      index  A  B   C
0  1ª Linha  1 -3   0
1  2ª Linha  2 -2  10
2  3ª Linha  3 -1  20

In [32]:
Dataframe_01.drop('index',axis=1, inplace=True) # Exclui coluna Index

In [33]:
Dataframe_01

   A  B   C
0  1 -3   0
1  2 -2  10
2  3 -1  20