In [13]:
# instalando a biblioteca pandas
!pip install pandas

Requirement already satisfied: pandas in c:\users\muril\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\muril\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\muril\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\muril\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\muril\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\muril\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [1]:
# Importando a Biblioteca Pandas
import pandas as pd

In [2]:
# Criando um dicionario
Dicionario = {
    'A':[1,2,3],
    'B':[-3,-2,-1],
    'C':[0,10,20]
}
Label = ['1ª Linha', '2ª Linha', '3ª Linha']
Dataframe_01 = pd.DataFrame(Dicionario,index=Label)
print(Dataframe_01)

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [3]:
# Exibindo as colunas A e B
Dataframe_01[['A', 'B']]

          A  B
1ª Linha  1 -3
2ª Linha  2 -2
3ª Linha  3 -1

In [4]:
# Criando uma coluna nova no Dataframe
Dataframe_01['Nova Coluna'] = Dataframe_01['A'] *Dataframe_01['B']

In [ ]:
Dataframe_01 # Exibe o dataframe

          A  B   C  Nova Coluna
1ª Linha  1 -3   0           -3
2ª Linha  2 -2  10           -4
3ª Linha  3 -1  20           -3

In [10]:
# Exibindo valores na saida da celula do notebook
a = 6
print(a)
Dataframe_01

6

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [ ]:
# Excluindo uma coluna do dataframe
# Drop exclui uma linha ou coluna do dataframe
Dataframe_01.drop('Nova Coluna',axis =1) # Exclui a nova coluna do Dataframe 1

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [9]:
# Excluindo uma coluna definitivamente do Dataframe
Dataframe_01.drop('Nova Coluna',axis =1,inplace=True)